tr {
    background-color: rgb(30, 30, 30);
}

tr:hover {
    background-color: rgb(40, 40, 40);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    overflow: scroll;
    border-radius: 10px;
}

th {
    text-align: center;
    font-family: Akira;
}

td {
    text-align: center;
}

img {
    border-radius: 50%;
}

.tdname {
    font-weight: bold;
}