.container {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
}

mat-sidenav {
    width: 250px;
}

.keyforgetitle {
    font-family: Akira;
    font-size: 5.5vh;
    font-style: italic;
}

.titletext {
    font-family: Akira;
}