<div class="chooseDiv">
    <h1 class="display-4">Welcome to KeyForge ⚒️</h1>
    <mat-form-field><p class="orderby">Order by:</p>
        <mat-select (selectionChange)="changeOrder()" [(ngModel)]="chosenOrder">
            <mat-option *ngFor="let or of orderBys" [value]="or">{{or.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<span *ngIf="loading" class="spinnerDiv">
    <mat-spinner></mat-spinner>
</span>
<br>
<div class="cardsDiv">
    <mat-card *ngFor="let i of lista" >
        <mat-card-header>
            <mat-card-title><p>{{i.name}}</p></mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <img src="{{i.image}}">
            <p class="price">{{i.price}} $</p>
            <p class="description">{{i.description}}</p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="addToCart(i)"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
        </mat-card-actions>
    </mat-card>
</div>
