.chooseDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardsDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

mat-card {
    width: 100%;
    background-color: rgb(30, 30, 30);
}

mat-card img {
    width: 100%;
}

.orderby {
    color: black;
}

mat-card * {
    white-space: pre-line;
}

mat-card-title {
    font-weight: bold;
}

@media (max-width: 768px) {
    .cardsDiv {
        grid-template-columns: repeat(1, 1fr);
    }
}

img {
    border-radius: 1%;
}

.price {
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-top: 1.5vh;
    font-family: Akira;
}

h1 {
    font-family: Akira;
}